nav {
  width: 760px;
  margin: auto;
  padding: 5px;
  text-align: center;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
}

nav a {
  color: white;
  margin: 30px;
  padding:5px;
  text-align: center;
}

nav a:visited {
  color: white;
  margin: 30px;
  padding: 5px;
  text-align: center;
}

nav a:hover {
  color: white;
  margin: 30px;
  padding: 5px;
  text-align: center;
  background: rgba(0,0,0,0.5);
  border-radius: 0px;
}

nav a:active {
  color: white;
  margin: 30px;
  padding: 5px;
  text-align: center;
}

#logo a:hover {
margin: 0px;
padding: 0px;
background: white;
}

#wrap a {
  color: black;
  margin: 30px auto;
  padding: 10px;
}
