nav {
  color: white;
  margin: 30px;
  padding: 15px;
  text-align: center;
  background: rgba(0,0,0,0.4);
}

nav:visited {
  color: white;
  margin: 30px;
  padding: 15px;
  background: rgba(0,0,0,0.4);
}

nav:hover {
  color: white;
  margin: 30px;
  padding: 15px;
  background: rgba(0,0,0,0.7);
}

nav:active {
  color: white;
  margin: 30px;
  padding: 15px;
  background: rgba(0,0,0,0.4);
}
