nav {
  margin: 30px;
  padding: 10px;
  text-align: center;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
}

nav a {
  color: white;
  margin: 30px;
  padding: 10px;
  text-align: center;
  /*background: rgba(0,0,0,0.4);*/
}

nav a:visited {
  color: white;
  margin: 30px;
  padding: 10px;
  text-align: center;
  /*background: rgba(0,0,0,0.4);*/
}

nav a:hover {
  color: white;
  margin: 30px;
  padding: 10px;
  text-align: center;
  background: rgba(0,0,0,0.5);
}

nav a:active {
  color: white;
  margin: 30px;
  padding: 10px;
  text-align: center;
  /*background: rgba(0,0,0,0.4);*/
}
