<h1>Edit Appointment</h1>
<%= render 'appointment_form' %>

<%= button_to "Create Recurring Appointment", person_create_a_recurring_appointment_path %>
<%= link_to "<<Back to Appointments", person_path(@person)  %>